@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

*{
  box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}

body{
  font-size: 12px;
  font-family: 'PT sans';
}


#sidebar-menu{
  background: black;
  float: left;
  height:100vh;
  padding: 20px;
  position: fixed;
  width: 200px;
}

  #sidebar-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

#content{
  background: yellow;
  float: left;
  margin: 0 0 0 200px;
  width: 1000px;
}

  #header{
    background: green;
    overflow: hidden;
  }
    #logo{
      background: blue;
      float: left;
      padding: 20px;
      width: 290px;
    }

    #logo a{
      display: block;
    }

    #header .edito{
      background: #fff;
      float: left;
      overflow: hidden;
      width: 355px;
    }

    #header .edito .picture{
      float: left;
      width: 90px;
    }

    #main{
      overflow: hidden;
    }

    #main-news{
      float: left;
      padding: 30px 0px 30px 20px;
      width: 66%;
    }
      #top-stories{
        background: blue;
        overflow: hidden;
      }

      #top-stories .column{
        background: red;
        float: left;
        padding: 10px;
        width: 50%;
      }
      
      #main-news hr{
        margin: 10px;
      }
      #big-story{
        background: green;
        margin: 10px;
      }

      #today-stories{
        background: purple ;
        overflow: hidden;
      }

        #today-stories .column{
          float: left;
          padding: 10px;
          width: 50%;
        }

    #side-news{
      float: left;
      padding: 30px 30px 30px 10px;
      width: 34%;
    }
      #yellow-box{
        background: ;
      }
      #other-stories{
        background: ;
      }
  #tabloid{
    background: red;
    overflow: hidden;
    padding:30px 20px; 
  }
    #tabloid .column{
      float: left;
      padding: 10px;
      width:33%;
    }