@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

*{
  box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}

body{
  font-size: 12px;
  font-family: 'PT sans';
  color:#444;
  background: #e5e5e5;
}


#sidebar-menu{
  background: #252525;
  float: left;
  height:100vh;
  padding: 20px;
  position: fixed;
  width: 200px;
}

  #sidebar-menu ul{
    list-style-type: none;
    margin: 0 ;
    padding: 10px 0 ; 
    border-bottom: 1px solid #353535;
  }

  #sidebar-menu ul:last-of-type{
    border: none;
  }

  #sidebar-menu a {
    text-decoration: none;
    color:#fff;
    line-height: 20px;
    font-size: 14px;
    display: block;
  }  

  #sidebar-menu ul:nth-of-type(3) a,
  #sidebar-menu ul:nth-of-type(4) a{
    color:#959595;
  }

  #sidebar-menu form input {
    background: #212121;
    color:#fff;
    border: 1px solid #353535;
  }  



#content{
  background: yellow;
  float: left;
  margin: 0 0 0 200px;
  width: 1000px;
  box-shadow: 0 0 15px #b1b1b1;  
  
}

  #header{
    background: #FFF;
    overflow: hidden;
    height: 110px;
    border-bottom: 5px solid #151515;
  }
    #logo{
      float: left;
      padding: 20px 0px 0px 30px;
      width: 290px;
      margin-right: 70px;
    }

    #logo a{
      display: block;
    }

    #logo .date{
      text-transform: uppercase;
      color:#959595;
    }

    #header .edito{
      background: #fff;
      float: left;
      overflow: hidden;
      width: 315px;
      margin-top: 6px;
    }

      #header .edito .picture{
        float: left;
        width: 90px;
        margin-right: 10px;
      }

      #header .edito .info {
        padding: 10px 0 0 0;
      } 
      #header .edito h3 {
        margin: 0;
      } 

      #header .edito .author a{
        text-decoration: none;
        color:#c33;
      }    

      #header .edito h3 a{
        text-decoration: none;
        color:#151515;
      }    

    #main{
      overflow: hidden;
    }

    #main-news{
      float: left;
      padding: 30px 0px 30px 20px;
      width: 66%;
    }
      #top-stories{
        background: blue;
        overflow: hidden;
      }

      #top-stories .column{
        background: red;
        float: left;
        padding: 10px;
        width: 50%;
      }
      
      #main-news hr{
        margin: 10px;
      }
      #big-story{
        background: green;
        margin: 10px;
      }

      #today-stories{
        background: purple ;
        overflow: hidden;
      }

        #today-stories .column{
          float: left;
          padding: 10px;
          width: 50%;
        }

    #side-news{
      float: left;
      padding: 30px 30px 30px 10px;
      width: 34%;
    }
      #yellow-box{
        background: ;
      }
      #other-stories{
        background: ;
      }
  #tabloid{
    background: red;
    overflow: hidden;
    padding:30px 20px; 
  }
    #tabloid .column{
      float: left;
      padding: 10px;
      width:33%;
    }
